*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none;
    border:none ; */
}

ul {
    list-style-type: none;
  }

.nav-header{
    width: 100%;
    background-color: #F3F3F3;

}
.hero{
    width: 100%;
    background-color: #F3F3F3;

}
.nav-content{
    padding: 10px 50px 10px 50px;
}

nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.nav-item-1 {
    flex-basis: 10%;
}
.nav-item-2 {
    flex-basis: 80%;
}
.nav-item-3 {
    flex-basis: 15%;
}
.nav-title{
    /* justify-content: center; */
    text-align: center;
}
.title{
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.nav-list-title {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.card-content{
    padding: 10px 50px 10px 50px;
}

.card-body{
    padding-left: 82px;
    padding-right: 82px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(289px,1fr));
    gap: 30px;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.card-holder{
    background-color: #F3F3F3;
    position: relative;
    width: 289px;
    margin-right: 83px;
    margin-bottom: 83px;
}

.card .card-img{
    width: 204px;
    height: 204px;
}

.card .card-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 118.182% */
    width: 70%;
 
}

.card .card-desc{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card button {
    /* display: inline-flex; */
    padding: 10px 52px;
    margin-bottom: 24px;
    /* align-items: flex-start; */
    /* gap: 10px; */
}
.card .btn p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.card-cart{
    position: absolute;
    right: 10px;
    top: 10px;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 62px;
}

.heading .heading-items {
    flex-basis: 15%;
    display: flex;
    justify-content: space-between;

}
.heading .heading-items li {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    text-transform: capitalize;
}

.hero {
    width: 100%;

}

.hero-content {
    display: flex;
    flex-direction: row;
    padding-left: 52px;
    padding-top: 80px;
    padding-right: 52px;
}

.left-content{
    flex-basis: 70%;
    justify-content: left;
}


.right-content{
    flex-basis: 30%;
    justify-content: right;
}

.hero-title {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.hero-desc  {
    width: 320px;
}
.hero-desc p {
    color: #000;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.hero-price{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 

}

.hero-price .p2  s{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
text-decoration: line-through;
}

.left-content button {
    padding: 10px 52px;
    margin-bottom: 24px;
    margin-top: 50px;

}
.left-content .btn  {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.right-content img {
    width: 487px;
    height: 244px;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.right-content .slider {
    display: flex;
    align-items: center;
    width: 100%;
}

.slider-content {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    
}
.slider-content li {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.hero-details {
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.hero-details ul {
display: flex;
flex-direction: row;
}

.hero-details ul li {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}